
:root {
    /* colors */
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --White: hsl(0, 0%, 100%);
    /* Typography */
    --FontSize: 1.0625rem;
    --FontSizeD: 1rem;
    --padding-s: 1.75rem;
    --Delay: .3s
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    font-family: "Popins",sans-serif;
    background-color: var(--Violet);
    margin: 0 auto;
    padding: 0 2rem;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    min-width: 100%;
}

/* Meduim-Large */
@media (min-width: 62rem) {
    body {
        background-image: url(../images/bg-desktop.svg);
        padding: .625rem 5rem
    }
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Poppins", serif;
}

header {
    height: 4.5rem;
    margin-top: 30px
}
header img {
    max-width: 100%;
    width: 9.5rem;
}


main .illustration {
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s)
}
main .illustration img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    animation: illustration 4s linear infinite alternate
}
@keyframes illustration {
    from {
        transform: translateY(-5%);
    }
    to {
        transform: translateY(5%);
    }
}

main .text {
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s);
    width: 89%;
    margin: 0 auto;
    text-align: center;
    color: var(--White)
}
main .text h1 {
    margin-bottom: 1.25rem;
    font-size: 1.8125rem
}
main .text p {
    font-size: var(--FontSize)
}
main .text a {
    display: block;
    color: var(--Violet);
    background-color: var(--White);
    text-decoration: none;
    padding: .625rem 0;
    width: 65%;
    margin: 20px auto;
    border-radius: 25px;
    box-shadow: 0px 15px 10px -15px #111;
    transition: var(--Delay)
}
main .text a:hover {
    color: var(--White);
    background-color: var(--Soft-Magenta)
}
@media (min-width: 62rem) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem
    }
    main .illustration {
        flex-basis: 50%
    }
    main .text {
        flex-basis: 50%;
        text-align: left
    }
    main .text h1 {
        width: 80%;
        font-size: 2.1875rem
    }
    main .text p {
        font-size: var(--FontSizeD);
        width: 79%
    }
    main .text a {
        margin: 1.25rem 0;
        width: 30%;
        text-align: center
    }
    footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
        margin-bottom: 1.875rem;
        padding: 0 7.1875rem
    }
}

footer {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem
}
footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .9375rem
}
footer .icons a{
    font-size: var(--FontSizeD);
    color: var(--White)
}
footer .icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--White);
    transition: var(--Delay)
}
footer .icons i:hover {
    color: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta) 
}
